.contact{
  text-align:center;
  padding-left:80px;
}

#name, #email, #message{
  width:250px;
  text-align:right;
}

#input{
   display: flex; 
   gap: 8px; 
   margin: 0 auto;
   margin-left:auto;
   margin-right:auto;

}
  
