/* P . Elena Maddox */
#main-header {
  display:grid;
  align-items: center;
  position:relative;
  background-image: url('./../images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:200px;
}

#logo{
  width:300px;
  height:auto;
  position:absolute;
  bottom:-250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation */
#main-nav{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  padding:10px;
  position:relative;
}

#main-nav ul {
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  gap:30px;
  position:absolute;
  bottom:-60px;
  width:100%;
}

#main-nav ul li{
  flex:1;
  text-align:center;
}
#main-nav a {
  text-decoration:none;
  color:white;
  display: block;
  font-size: 1.5rem;
  padding: 20px 0;
  width: 100%;
}

#main-nav a:hover {
  color:tan;
}

ol{
  list-style-type:none;
}

