:root {
    --primary-color:#d22631;    /*color of red in portuguese flag*/
    --secondary-color:#005d33;  /*color of green in portuguese flag*/
    --third-color:#fff81d;      /*color of yellow in portuguese flag*/
}

/* Welcome Section */
.welcome {
  display:flex;
  flex-direction:column;
  padding:20px;
  gap:20px;
  margin:center;
  position:relative;
}

.welcome h2 {
  color:var(--primary-color);
  text-align:center;
}

.welcome p{
  text-align:center;
  max-width: 80%;
  margin:auto;
  justify-content: center;
}

.reserve-btn {
  position:absolute;
  background: white;
  left:50%;
  bottom:-5%;
  transform: translate(-50%, -50%);
  border:3px solid var(--primary-color);
}

#reservation-btn{
  background:white;
  border:3px solid var(--primary-color);
}

#reservation-btn a{
  color:black;
  text-decoration:none;
}

.reserve-btn:hover, #reservation-btn:hover{
  border:3px solid black;
  background: var(--primary-color);
}

.welcome a{
  text-decoration:none;
  color:black;
  font-size: 16px;
}

.welcome a:hover{
  color: var(--primary-color);
}

.reserve-btn:hover a, #reservation-btn:hover a{
  color:white;
}

.welcome-image img {
  width: 100%;
}

/*social media section */
.social {
  padding: 20px;
}

.social h2 {
  color:var(--primary-color);
  text-align:center;
}

.social-content {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
}

.social-links li {
  display:flex;
  align-items:center;
  color:var(--secondary-color);
}

.social-links li a{
  text-decoration:none;
  color:var(--secondary-color);
  font-size:20px;
}

.social-links li a:hover{
  color:var(--primary-color);
}
.social-images {
  display:flex;
  flex-direction:column;
  margin-right:10%;
}

.social-images img {
  width:500px;
  height:auto;
  border-radius:5px;
  margin-right:10px;
  border: 2px solid black;
}

.images{
    object-fit:cover;
}

@media(max-width: 768px) {
  .header{
    position:relative;
  }
  
  #main-nav{
    position:absolute;
    right:40px;
    margin-top:50px;
    margin-bottom:5px;
  }
  #main-nav ul {
    flex-direction: column;
    gap: 2px;
  }
  #main-nav ul li {
    width: 100%;
    padding: 2px 0;
  }

  #main-nav ul li a{
    font-size:10px;
  }

  #main-header{
    height:250px;
  }

  #logo{
  width:300px;
  height:auto;
  position:absolute;
  left: 50%;
  transform: translate(-112%, -25%);
  }

  #menu #logo{
      transform: translate(-112%, -25%);
  }
}
/*larger screens changes*/
@media (min-width: 768px) { 
  /*welcome*/
  .welcome {
    display:flex;
    flex-direction: row;
  }

  .welcome p{
    justify-content: space-between;
    padding:20px;
  }
  .welcome{
    display:flex;
    flex: 1;
  }

  .welcome-image {
    flex:1;
  }

  .welcome-image img {
    width: 100%;
    max-width:100%;
    height:auto;
    display:block;
  }

  .reserve-btn {
    position:absolute;
    left:50%;
    bottom:-10%;
    transform: translate(-50%, -50%);
}
  /* Social section */
  .social {
    padding:40px;
  }

  .social-content {
    flex-direction: row;
    gap:40px;
  }

  .social-links {
    flex: 1;
  }

  .social-images {
    flex:2;
    flex-direction:row;
  }

  .social-images img {
    max-width:500px;
    margin-right:100px;
  }

  #logo{
    width:300px;
    height:auto;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
  
